.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  bottom: 0;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 12px;
  height: 12px;
  border-right: 3px solid #38bdf8;
  border-bottom: 3px solid #38bdf8;
  opacity: 0.9;
}
.react-grid-item:hover > .react-resizable-handle::after {
  border-color: #facc15;
}

.widget-header {
  cursor: move;
  user-select: none;
}
